.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store

# Data
data/raw/pubmed/
data/raw/fulltext/
data/raw/registries/
data/processed/registries/
data/processed/trn/
data/processed/pubmed/*
!data/processed/pubmed/pubmed-si.rds
#data/raw/open-access/

# Python specific project settings
.idea/
venv/

# Configuration file
config.ini

# Cache
permissions_cache.sqlite
