.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store

# Data
data/raw/pubmed/
data/raw/fulltext/
data/raw/registries/
data/processed/registries/drks/
data/processed/registries/ctgov/
data/processed/trn/*
!data/processed/trn/cross-registrations.rds
!data/processed/trn/n-cross-registrations.rds
!data/processed/trn/trn-reported-wide.rds
data/processed/pubmed/*
!data/processed/pubmed/pubmed-si.rds
!data/processed/pubmed/pubmed-ft-retrieved.rds
!data/processed/pubmed/pubmed-main.rds
#data/raw/open-access/
data/raw/open-access/oa-roadoi.rds
data/ctgov-2018/ctgov/*
data/processed/codebook-structure.csv
data/raw/euctr_euctr_dump-2023-12-02-002347.csv
TRN(registry data).rds
data/raw/euctr_data_quality_results_scrape_feb_2024.csv
euctr_euctr_dump-2024-02-03-054239.csv
ids.csv
studies.csv
title_matched_7.rds
publications_final.rds

# Python specific project settings
.idea/
venv/

# Configuration file
config.ini

# Cache
permissions_cache.sqlite
